server {
    listen 80;
    server_name ${JELLYSEERR_SUBDOMAIN};

    proxy_buffering off;

    location / {
        proxy_pass http://gluetun:5055;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
